{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Usuarios y QR</title>
</head>
<body>
    <h1>Lista de Usuarios con su Código QR</h1>
    <ul>
        {% for usuario in obj %}
          <ol>
            <strong>Hola {{ usuario.Nombre }} esta es tu informacion:</strong><br>
            {% if usuario.qr_code %}
                <img src="{{ usuario.qr_code.url }}" alt="QR de {{ usuario.Nombre }}" width="150" height="150">
            {% else %}
                <p>No hay código QR</p>
            {% endif %}
            <a href="{% url 'Personal_app:Form' %}">
                <button type="button">Volver a Form</button>
            </a>
          </ol>  <br>
        {% endfor %}
    </ul>
</body>
</html>